<html ng-app="myapp">
<head>
    <title>Hello AngularJS</title>
    <script src="material/angular.js"></script>
    <script>
        var myapp = angular.module('myapp', []);
        myapp.controller("HelloController", function($scope, $rootScope) {
            $rootScope.text = 'Hello world';
            $scope.greeting = "";
            $scope.update = function() {
                if ($scope.name) {
                    $scope.greeting = "Hello, "+$scope.name+"!";
                }
            }
        });
        myapp.controller('ChildCtrl', function ($scope) {
            $scope.say = function () {
                console.log($scope);
            }
        })
    </script>
</head>
<body>
    <span ng-bind="text"></span>
    <div ng-controller="HelloController">
        Your name: <input ng-model="name">
        <button ng-click="update()">update</button>
        <p>{{greeting}}</p>
        <div ng-controller="ChildCtrl">
            <button ng-click="say()">
                Click me!
            </button>
        </div>
    </div>
</body>
</html>